<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Ethan Mossip</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <h1>Summary of Ethan Mossip's life</h1>
    <h2>Summary of early childhood</h2>
    <p>As a child, he loved playing <strong><em>all</em></strong> types of sports including soccer, baseball, and basketball.</p>

    <p>His favorite sports were:</p>

    <ol>
        <li>Soccer</li>
        <li>Baseball</li>
        <li>Basketball</li>
    </ol>
    <h2>Summary of College</h2>
    <p>After graduating from high school, he decided to attend the <strong><em>University of Maryland</em></strong>. </p>
    <p>Some of his first friends that he met at college were:</p>
    <!-- Creating a list of some of my first college friends-->
    <ul>
        <li>Brandon</li>
        <li>Gordon</li>
        <li>Colin</li>
        <li>Drew</li>
    </ul>
    <p>Some courses he has taken so far at college include</p>
    <!--Creating a table of some courses I have taken -->
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Fall 2022</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Spring 2023</td>
        </tr>
        <tr>
            <td>BMGT403</td>
            <td>Fall 2023</td>
        </tr>
    </table>
    <p>You can find some of my work here: <a href= "/helloWorld/templates/hello.html">Hello Page </a></p>

    <p>To learn more about the University of Maryland, you can find their website <a href="https://umd.edu/"> <span class="highlight"> Here</span></a></p>
    <!-- Adding in an image of the Smith School logo-->
    <p>If you would like to know more about the business school at UMD, you can find their website <a href="https://www.rhsmith.umd.edu/" target="_blank"> Here</a></p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="Smith Logo" class="logo">

    <h3>Ethan Mossip's Future Plans</h3>
    <p id="future_plans"> After graduating from the University of Maryland, he plans on living in Arlington,Virginia and working for Accenture Federal Services.</p>
</body>
</html>